[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "extern/odeplusplus"]
	path = extern/odeplusplus
	url = ../odeplusplus
	branch = main
[submodule "extern/json"]
	path = extern/json
	url = ../../nlohmann/json
	branch = develop
